$primary-family-font: 'coolvetica', 'coolvetica-condensed-rg', Arial, Helvetica, sans-serif;
$secondary-family-font: Arial, Helvetica, sans-serif;
$alt-lettering-spacing: .05em;
$btn-lettering-spacing: .10em;