// COLOR
$orange:   #ff681d;
$green:    #009383;
$light-grey: #f2f2f2;
$white:     #ffffff;
$dark-grey: #3d4543;
$font-grey: #3c4544;
$red-alert: #ef0000;
$yellow-alert: #fc9500;
$blue-alert: #068fff;
$secondary-navbar: #b5b5b5;


// 


$primary:       $green;
$secondary:     $white;
$highlight:     $orange;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

// 



// $border-radius-pill:  4rem;

// BTN
$border-radius-lg: .5rem;
$btn-width-lg: 150px;
$btn-font-size-sm: 80%;

$btn-line-height: 2rem;



$alt-lettering-spacing: .05em;
$btn-lettering-spacing: .15em;

