// COLOR
$orange:   #ff681d;
$green:    #009383;
$light-grey: #f2f2f2;
$white:     #ffffff;
$dark-grey: #3d4543;
$font-grey: #3c4544;
$red-alert: #ef0000;
$yellow-alert: #fc9500;
$blue-alert: #068fff;
$secondary-navbar: #b5b5b5;

// 
$percepciones: #006600;
$percepciones-2: #007b00;
$percepciones-3: #258d19;
$percepciones-4: #4ea93b;
$percepciones-5: #71c55b;

$deducciones: #c20000;
$deducciones-2: #dd0000;
$deducciones-3: #f80000;
$deducciones-4: #ff3816;

$otros-pagos: #221f59;
$otros-pagos-2: #314890;
$otros-pagos-3: #2f609d;
$otros-pagos-4: #5a78b9;





// 


$primary:       $green;
$secondary:     $white;
$highlight:     $orange;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

// 


//PIE CHART

$percepciones: #006600;


// $border-radius-pill:  4rem;

// BTN
$border-radius-lg: .5rem;
$btn-width-lg: 150px;
$btn-font-size-sm: 80%;

$btn-line-height: 2rem;

