@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "fonts";


// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";
// @import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
// @import "~slick-carousel/slick/slick.scss";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "~sweetalert2/dist/sweetalert2.min.css";

body{
    min-height: 100vh;
    background-color: $white;
    font-family: $primary-family-font;
    color: $dark-grey;
    }

header{
    width: 100%;
}

// -----------------------------------------------
// SISTEMA_SECONDARY_NAVBAR
// -----------------------------------------------
.sist-navbar-container{
    background-color: $primary;

        button, span{
            border: none;
            background-image: white;
            font-size: 1.4em;
        }
        
        img{
            width: 70px;
            height: auto;
        }

        li, a{
            color: $secondary !important;
            font-size: 100%;
            line-height: 300%;
            font-weight: lighter;
            letter-spacing: .08em;
            color: white;
        }
}

// -----------------------------------------------
// INDEX
// -----------------------------------------------
.header-index{
    z-index: 10;

    nav{
        background-color: transparent !important;

        li{
            font-size: 1.4em;
            color: $secondary;
      
            a{
                padding-right: .5rem;
                padding-left: .5rem;

                .fab, .fas{
                    color: $secondary;
                    // .fab:hover,
                    // .fas:hover{
                    //     color: $highlight;
                    // }
                }

                .fa-instagram-square, .fa-facebook, .fa-user{
                    font-size: 1.4em;
                }
            }
        }

        h3{
            color: $secondary;
            display: none;
        }
    }
}

// hero
.hero {
    background: url(/assets/img/hero-bg.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;


    #overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        opacity: 0.6;
        mix-blend-mode: multiply;
        }

        h1{
            font-size: 120%;
            color: $secondary;
            line-height: 2rem;
        }

    // Form
    .form-container{
        background-color: $secondary;
        min-height: 395px;
        max-width: 310px;
        line-height: 150%;

        label{
            font-size: .8em;
            letter-spacing: $btn-lettering-spacing;
        }

        p{ 
            font-family: $secondary-family-font;
            font-size: 60%;
            line-height: 1.8em;
        }

        .red-star{color:$red-alert}
        .r-star-indx{ font-size: 70%;}
    }

}

.btn-primary{
    background-color: $highlight;
    border: $highlight;
    font-size: $btn-font-size-sm;
    line-height: $btn-line-height;
    width: $btn-width-lg;
    font-weight: lighter;
    letter-spacing: $btn-lettering-spacing;
}

    //Caracteristicas
    .index-main{
        margin: 5em auto 5em auto;
        clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 100%);
        height: 100%;
        background: url(/assets/img/pattern-background.png);
        background-size: cover;
        background-position: center center;
        background-color: $primary;
      
        .index-mobile{
            width: 300px;
        }

        .div-icon{
            // height: 40px;
            // width: 50px;
            flex: 0;
       
            img{
                // object-fit: contain;
                width: 60px;
                height: 50px;
            }
        }

        h5{
            color: $white;
            letter-spacing: .05rem;
        }

        p{
            color: $white;
            font-size: .9rem;
            letter-spacing: .03rem;
            line-height: 200%;
        }            
}

//Index-chart
.index-chart{
    h1{
        color: $primary;
        font-size: 115%;
    }

    .logos-payment{
        img{
            width: 15%;
        }
    }

    figure{
        img{
            width: 300px;
            height: auto;
        }

        figcaption{
            font-size: .8rem;
            letter-spacing: 0.1rem;
        }
    }

//Table
    table{
        color: $font-grey;
        width: 350px;
        border-collapse: separate;
        border-spacing: 5px;

        th{
            background-color: $primary;
            height: 3.5em;

            p{
                color: $secondary;
                letter-spacing: $btn-lettering-spacing;
                color: $secondary;
                font-size: 120%;
                font-family: $primary-family-font;
            }

            .p-pricing{
                font-size: .8rem;
                letter-spacing: .05rem;
            }
        } 

        h6{
            color: $primary;
        }

        p{
            font-size: .75rem;
            font-family: $secondary-family-font;
            line-height: 1rem;
        }

        tr,td {
            padding:15px;
        } 

    }

// Full table
    .full-indx-table{
        width: 100%;

        thead{
            .empty-th{
                background-color: white;
            }

            p{
                font-size: 1em;
            }
            .p-pricing{
                font-size: .6em;
                font-family: $secondary-family-font;
                line-height: 150%;
            }
        }
        
        td{
            padding: 10px;
       
            h6{
                letter-spacing: .07rem;
                text-align: left;
                font-size: 85%;
                }

                p{
                    font-size: .65rem;
                }
        }
           
            .fa-check, .td-hyphen{
                color:$highlight;
                font-size: 1.5em;    
            }
    
            .td-hyphen{font-size: 3em;}  
        }
       
    }

// Contacto
.contacto-index{

    h4{
        color: $primary;
    }
    .s5-form{border-color: $primary;}
                
    figcaption{
        font-family: $secondary-family-font;
        font-size: 90%;
    }

    ::placeholder{
        font-family: $secondary-family-font;
        color: $light-grey;
        font-size: 70%;
    }     

    h5, i{
        color: $primary;
        font-size: 160%;
    }

    i{
    font-size: 180%;
    }
}
// -----------------------------------------------
// SISTEMA_INICIO
// -----------------------------------------------

// ALERTAS//
.alertas-dropdown{
    .alertas{
        background-color: $light-grey;
        height: 3em;
        box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.1);
        letter-spacing: .06em;
    }

    h4{
        color: $primary;
    }

    h5{
        background: $orange;
        width: 25px;
        height: 25px ;
        border-radius: 50%;
        color: $secondary;
        padding-top: 2.5px;
    }

    button{
        font-size: 1.5em;
        opacity: 1;
        border: none;
        outline:none;
        background-color: transparent; 
    }

        i{
            color: $primary;
        }

    ul{
        border-style: solid;
        border-width: 1px;
        border-color: $light-grey;
        line-height: 150%;
        font-family: $secondary-family-font;
        font-weight: 200;
        font-size: 90%;

        li {
            list-style: none;
        }

        .red-exclamation{
            color: $red-alert;
        }
        .blue-exclamation{
            color: $blue-alert
        }
        .yellow-exclamation{
            color: $yellow-alert;
        }
    } 
}

// CUADROS DE INGRESOS//
.ingresos-del-mes{
    margin-top: 5em;
    height: 12em;

    .square{
        box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.26);
        background-image: url(/assets/img/asset-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        margin: 0 auto 0 auto;

        h6{
            background-color: $primary;
            color: $secondary;
            height: 2.5em;
            letter-spacing: $alt-lettering-spacing;
        }

        .ingresos{
            border-left:  1px solid $light-grey;
            border-right:  1px solid $light-grey; 
            border-bottom: 1px solid $light-grey;
            height: 9em;

            h1{
                font-size: 4em;
            }
        }
    }
}

// TABLA//
.sistema-table-inicio{
    margin-top: 10em;
    margin-bottom: 5em;

    table{
        width: 150%;
    }
}

// -----------------------------------------------
//  SISTEMA_PERFIL
// -----------------------------------------------

// DATOS PERSONALES//
#sis-perfil{
    box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.15);
    margin-bottom: 6em;
}

.datos-personales{

    h2{
        color: $primary;
        border-top:  1.5px solid $light-grey; 
        border-bottom: 1.5px solid $light-grey;
    }

    h6{
        color: $dark-grey;  
    }

    p{
        letter-spacing: $alt-lettering-spacing;
        font-size: 90%;
    }

    h4{
        color: $primary;
        border: black;
        width: 4em;
    }

    .form-control{
        border-radius: 0;
        font-weight: 200;
        color: $font-grey;
        font-size: 90%;
    }

    label{
        letter-spacing: .05em;
        font-size: 90%;
    }
}
// -----------------------------------------------
// SISTEMA_PAGO
// -----------------------------------------------

#container-pago{height: 100vh;}

.p-pago{margin: .2em auto .2em auto;}
   
.historial-de-pagos{
    box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.26);
    padding: 1em;
}

.btn-payment{
    background-color: $light-grey;
    color: $primary;
    font-size: 1.3em;
    letter-spacing: .09em;
}

// -----------------------------------------------
// SISTEMA_DOCUMENTOS
// -----------------------------------------------

.sistema-nav-sec{
    ul{
        border-top:  1px solid $light-grey; 
        border-bottom: 1px solid $light-grey;
        line-height: 300%;
        font-size: 1.1em;

        a {
            color: $secondary-navbar!important;
        }
    }

}

// DATOS PERSONALES//
.sistema-table, .sistema_doc_otros, .sistema_doc_recibos{
    max-width: 300%;
    border-collapse: separate;
    border-spacing: 3px;

    th{
        background-color: $primary;
        height: 2em;
        padding: .1em !important;
    

        p{
        font-size: 70%;
        letter-spacing: .03em;
        color: $white;
        }

        .th-download-view{ 
            min-width: 100px;
        }

    }

    tbody{

        p{
            font-family: $secondary-family-font;
            font-size: 60%;
        }

        i{
            color: $primary; font-size: 1.2em;
        }

    }
}

// -----------------------------------------------
// SISTEMA_DOCUMENTOS_OTROS
// -----------------------------------------------

#tble-doc-otros{
    width: 200%;

    .view-download-cell{
        width: 105px;
    }
}

// 

.custom-checkbox .custom-control-input~ .custom-control-label::before {
    border: 1px solid red !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: green!important;
    border: 1px solid red;
  }


  .btn-checkmark{
      border: 1px solid rebeccapurple;
      border-radius: 0;
      width: 20px;
      height: 20px;
      padding: 0rem;
  }
// #exampleCheck2{
//   color:  red !important;
// }
  

// .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
//     background-image:none!important;

// }

// .custom-toggler .navbar-toggler-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
//   }
  
//   .custom-checkbox .navbar-toggler {
//     border-color: rgb(255,102,203);
//   } 



// -----------------------------------------------
// FOOTER
// -----------------------------------------------
footer{
    background-color: $primary; 
    bottom: 0;
    height: 5em;

    p{
        width: 26em;
        color: $secondary;
        font-size: .6em;
        letter-spacing: $alt-lettering-spacing;
    }

    a, a:hover{
        text-decoration: underline;
        color: white;
    }

    img{
        width: 50px;
        height: auto;
    }
}

// -----------------------------------------------
// QUERIES
// -----------------------------------------------

@media (min-width: 768px) {
// header-index
    .navbar-nav{
        // margin-right: 10em;
        i{
            font-size: 150%;
        }

        h3{
            display: initial;
        }
    }

    .hero{
        h1{
            font-size: 140%;
        }
    }

    // celular descripcion
    .index-main{
        p {
            font-size: .7rem;
        }

        h5{
            font-size: 90%;
        }

        #div-cfdis{
            margin-top: 10em !important;
        }
    }

    .index-chart{
        figure{
            img{
            width: 230px;
            height: auto;
            }
        }
        
        .logos-payment{
            width: 100%;
            
            img{
                width: 14%;
            }
        }
    }
// 
    .btn-chart{
        width: 8em;
        height: 40%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
        .btn-payment{display:block; margin-left: 0;}
        .tabla-pagos{width: 100%;}
        #container-pago{margin-top: 10em;}

        .square{width: 90%;}

// SISTEMA_INICIO//
    .ingresos-del-mes{
        height: 90%;

        .square{
            width: 100%;
            height: 90%;
        
            h6{
                font-size:90%;
                height:2.5em;
                line-height: 100%;
            }
        }
    }
    .sistema-table{
        th{
            p {
                font-size: 110%;
            }
        }
    }

// SISTEMA_DOCUMENTOS//
    .sistema-table{
        width: 100%;padding: initial;}
    .font-content-table{font-size: 90%;}
    #tble-doc-otros{
        width: 100%;
    }
    .view-download-cell{
        width: 120px;
    }

// FOOTER//
    footer{
        height: 6.5em;
    
        p{
            width: 25em;
            font-size: .85em;
            letter-spacing: .05em;
        }

        img{
            width: 80px;
            height: auto;
        }
    }
}
@media (min-width: 992px) {
// index
    .header-index{
        .navbar-nav{
        margin-right: 250px !important;
            
            .fa-facebook{
                margin-left: 50px!important;
            }

            .fa-user{
                margin-left: 200px !important;
            }
        }
    }

    .index-main{
        .div-icon{
            img{
                max-width: 65px;
                height: auto;
            }
        }

        h5{
            font-size: 1.2em;
        }

        p{
            font-size: .9em;
        }
    }
    
    // form
    .fab,.fas{font-size: 150%;}

    // .sistema-table{margin-top: 10em;}
    .tabla-ingresos{width: 70%;}
    .tabla-pagos{width: 100%;}

// SISTEMA_INICIO//
    .ingresos-del-mes{
        height: 70%;
        width: 90%;

        .square{
            width: 85%;
            height: 70%;
        
            h6{
                font-size:100%;
                height:3em;
            }
        }
    }

    // 
    .sistema-table{
        max-width: 100%;

            tbody{
                font-size: 100%;
            }

            .td-download-view, .fa-download,
            .view-icon,.download-icon{
                font-size: 1.2em;
            }       
    }
    
// FOOTER//
    footer{
        height: 7em;

        p{
            width: 25em;
            font-size: 1em;
            letter-spacing: .05em;
        }

        img{
            width: 90px;
            height: auto;
        }
    }  
}