@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "fonts";


// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";
// @import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
// @import "~slick-carousel/slick/slick.scss";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "~sweetalert2/dist/sweetalert2.min.css";

body{
    min-height: 100vh;
    background-color: $white;
    font-family: $primary-family-font;
    color: $dark-grey;
    }

header{width: 100%;}
    
.header-index{z-index: 10;}
    
    .bg-light{ background-color: transparent !important;}  
    .navbar{background-color: $primary;}

    .nav-item{
        font-size: 1.4em;
        color: $secondary;
    }

    .fab, .fas{color: $secondary; }
        
    .fab:hover,
    .fas:hover{
        color: $highlight;
    }

    .text-navbar{
        color: $secondary;
        display: none;
    }

    .fa-instagram-square, .fa-facebook, .fa-user{
        font-size: 1.4em;
    }

    .tbl-title{color: $primary;}

// hero
.hero {
    background: url(/assets/img/hero-bg.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

  #overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: 0.6;
    mix-blend-mode: multiply;
    }

    .text-hero{
        font-size: 120%;
        color: $secondary;
        line-height: 2rem;
    }

    // Form
    .form-container{
        background-color: $secondary;
        height: 395px;
        width: 310px;
        line-height: 150%;
    }

        label{
            font-size: .8em;
            letter-spacing: $btn-lettering-spacing;
        }

        .p-form-warning{ 
            font-family: $secondary-family-font;
            font-size: 60%;
            line-height: $btn-line-height;
            line-height: 1.8em;
        }

        .red-star{color:$red-alert}
        .r-star-indx{ font-size: 70%;}

        .btn-primary{
            background-color: $highlight;
            border: $highlight;
            font-size: $btn-font-size-sm;
            line-height: $btn-line-height;
            width: $btn-width-lg;
            font-weight: lighter;
            letter-spacing: $btn-lettering-spacing;
        }

    //Caracteristicas
    .index-main{
        margin: 5em auto 5em auto;
        clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 100%);
        height: 100%;
        background: url(/assets/img/pattern-background.png);
        background-size: cover;
        background-position: center center;
        background-color: $primary;
        }

        .index-mobile{width: 300px;}
            
       .descp-p{
            color: $white;
            font-size: 90%;
        }

        .div-icon{
            height: 60px;
            width: 80px;
            flex: 0;
        }

        .icon-img{object-fit: contain;}    
        .h5-caracteristicas{color: $white; }
            
    .h1-img-chart{
        color: $primary;
        font-size: 115%;
    }

//Table
table{
    color: $font-grey;
    width: 350px;
    border-collapse: separate;
    border-spacing: 5px;
}

    .th-sm{height: 3.5em;}

    .h-th{
        color: $secondary;
        letter-spacing: $btn-lettering-spacing;
        color: $secondary;
        font-size: 120%;
        font-family: $primary-family-font;
    }

    .p-tbl{
        font-size: .75rem;
        font-family: $secondary-family-font;
        line-height: 1rem;
    }

    th{background-color: $primary;}      
    tr,td {padding:15px;}      
    .full-indx-table{width: 100%;}
        
    .ing-header {
        color: $primary;
        letter-spacing: .08rem;
        text-align: left;
        font-size: 90%;
        font-family: $primary-family-font;
        }

    .s5-form{border-color: $primary;}
            
    .p-pricing{
        color: $secondary;
        font-size: 90%;
        font-family: $secondary-family-font;
        line-height: 150%;
    }

    figcaption{
        font-family: $secondary-family-font;
        font-size: 90%;
    }

    ::placeholder{
        font-family: $secondary-family-font;
        color: $light-grey;
        font-size: 70%;
    }

    .fa-check, .td-hyphen{
        color:$highlight;
        font-size: 1.5em;    
    }

    .td-hyphen{font-size: 3em;}
        

// Contacto
.h3-contacto{
    color: $primary;
}

.sec-info, .i-info{
    color: $primary;
    font-size: 160%;
}

.i-lg{font-size: 180%;}
    
// -----------------------------------------------
// FOOTER
// -----------------------------------------------
footer{background-color: $primary; margin-top: 0;}

.p-footer{
    width: 20em;
    color: $secondary;
    font-size: .75em;
    letter-spacing: $alt-lettering-spacing;
}

.a-footer, a:hover{
    text-decoration: underline;
    color: white;
}

// -----------------------------------------------
// SISTEMA_INICIO
// -----------------------------------------------

.navbar-toggler{
    border: none;
    background-image: white;
}

.nav-link{
    color: $secondary !important;
    font-size: 80%;
    font-weight: lighter;
    letter-spacing: .08em;
}

.alertas{
    background-color: $light-grey;
    height: 3em;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.1);
    letter-spacing: .06em;
}

.alertas-box{
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
    line-height: 150%;
    font-family: $secondary-family-font;
    font-weight: 200;
    font-size: 90%;
}

.open, .close{
    font-size: 1.5em;
    opacity: 1;
    border: none;
    outline:none;
    background-color: transparent; 
}

.fa-caret-up, .fa-caret-down{color: $primary;}
         
.no-alerta{
    background: $orange;
    width: 25px;
    height: 25px ;
    border-radius: 50%;
    color: $secondary;
    padding-top: 2.5px;
}

.sistema-navbar-logo{
    width: 4em;
    height: auto;
 }

.text-alerta {list-style: none;}
.h-alertas{ color: $primary;}
.red-exclamation{color: $red-alert;}
.blue-exclamation{ color: $blue-alert}
.yellow-exclamation{color: $yellow-alert;}
.sist-navbar-container{background-color: $primary;}

// cuadro
.ingresos-del-mes{
    margin-top: 5em;
    height: 12em;
}

.h1-ingresos{font-size: 4em;}

.ing-header{
    background-color: $primary;
    color: $secondary;
    height: 2.5em;
    letter-spacing: $alt-lettering-spacing;
}

.ingresos{
    border-left:  1px solid $light-grey;
    border-right:  1px solid $light-grey; 
    border-bottom: 1px solid $light-grey;
    height: 9em;
}
    .logout{font-size: 1.4em;}

.square{
    box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.26);
    background-image: url(/assets/img/asset-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto 0 auto;
}
 
// table
.sistema-table-inicio{margin-top: 10em; margin-bottom: 5em;}
.tabla-ingresos{width: 150%;}

// -----------------------------------------------
//  SISTEMA_PERFIL
// -----------------------------------------------

// Datos personales
.h2-datos-personales{
    color: $primary;
    border-top:  1.5px solid $light-grey; 
    border-bottom: 1.5px solid $light-grey;
}

.h4-e-firma{
    color: $primary;
    border: black;
    width: 4em;
}

.h6-campo-obligatorio{ color: $dark-grey;}

.p-datos-per{
    letter-spacing: $alt-lettering-spacing;
    font-size: 90%;
}

// .cont-d-personales{
//     box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.26); 
// }

.form-control{
    border-radius: 0;
    font-weight: 200;
    color: $font-grey;
    font-size: 90%;
}

label{
    letter-spacing: .05em;
    font-size: 90%;
}

// -----------------------------------------------
// SISTEMA_PAGO
// -----------------------------------------------

#container-pago{height: 100vh;}
.p-pago{margin: .2em auto .2em auto;}
   
.historial-de-pagos{
    box-shadow: 3px 7px 4px 0px rgba(0,0,0,0.26);
    padding: 1em;
}

.btn-payment{
    background-color: $light-grey;
    color: $primary;
    font-size: 1.3em;
    letter-spacing: .09em;
}

// -----------------------------------------------
// SISTEMA_DOCUMENTOS
// -----------------------------------------------

.sec-navbar-nav{
    border-top:  1px solid $light-grey; 
    border-bottom: 1px solid $light-grey;
}

.sec-nav-link {color: $secondary-navbar!important;}

// tabla
.sistema-table{max-width: 300%;}

.sis-th-sm{
    height: 2em;
    padding: .1em !important;
}

.sis-h-th{
    font-size: 70%;
    letter-spacing: .03em;
    color: $white;
}

.font-content-table{
    font-family: $secondary-family-font;
    font-size: 60%;
}
.th-download-view{ min-width: 100px;}

.td-download-view, .fa-download, 
.view-icon,.download-icon{
    color: $primary; font-size: 1.3em;}

// .th-download-view{
//     max-width: 100px;
// }

#tble-doc-otros{
    width: 200%;
}

// .view-download-cell{
//     max-width: 100px;
// }

// -----------------------------------------------
// QUERIES
// -----------------------------------------------

@media (min-width: 768px) {
    .form-container{height: 450px;}
    .text-hero{font-size: 140%;}
    .descp-p {font-size: .65rem;}
    h5{font-size: 90%;}
    .icon{height: 45px;width: 70px;}
    .text-navbar{display: initial;}
    .fa-instagram-square, .fa-facebook, .fa-user{font-size: 150%;}

    table{font-size: 80%;}
        .p-tbl{font-size: .9em;}
        .tbl-title{font-size:  100%;}
        .p-pricing{font-size: 75%;}
        .img-chart{width: 90%;}
        .logo-pay-chart{width: 15%;}
        .btn-chart{
            width: 8em;
            height: 40%;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        td{padding: 10px;}
        .empty-th{ background-color: white;}
        .td-btn{padding: 0;}
        .square{width: 90%;}
            
        .p-footer{
            width: 25em;
            font-size: .85em;
            letter-spacing: .05em;
        }
        // 
        .sis-h-th {font-size: 110%;}
        .btn-payment{display:block; margin-left: 0;}
        .tabla-pagos{width: 100%;}
        #container-pago{margin-top: 10em;}

    // sistema inicio
    .ing-header {font-size:90%;height:2.5em; line-height: 100%;}
    .ingresos-del-mes{height: 90%;}
    .square{width: 100%;height: 90%;}
    
    // sistema_documentos
    .sistema-table{width: 100%;padding: initial;}
    .font-content-table{font-size: 90%;}
}

@media (min-width: 992px) {
    .text-navbar{font-size: 180%;}
    h5{font-size: 120%;}
    .div-icon,.icon-img{height: 50px;width: 55px;}
    .fab,.fas{font-size: 150%;}
    .descp-p{font-size: 80%;}
    .info-contact{text-align: left;}
    // .sistema-table{margin-top: 10em;}
    .tabla-ingresos{width: 70%;}
    .tabla-pagos{width: 100%;}

    .ing-header {font-size: 100%; height: 3em;}
    .ingresos-del-mes{height: 70%; width: 90%;}
    .square{width: 85%;height: 70%;}

    .font-content-table{font-size: 100%;}
    .sistema-table{max-width: 100%;}
    .td-download-view, .fa-download,
    .view-icon,.download-icon{font-size: 1.2em;}
}
